html {
font-size: 10px;
}

body {
  background-color: #ffffff;
  margin: 0;
}

h1 {
  font-family: Poppins;
  font-weight:bold;
  font-style: normal;
  font-size: 2.75rem;
  color: #262627;
}

h2 {
  font-family: Poppins;
  font-weight:bold;
  font-style: normal;
  font-size: 2.0rem;
  color: #262627;
}

h3 {

}

p.about {
  font-family: Poppins Light;
  font-style: normal;
  font-weight: 300;
  font-size: 1.12rem;
  color:#616161;
  margin-top:0px;
}

p.about-project {
  font-family: Poppins Light;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color:#616161;
}

p.by{
  font-family: Poppins Light;
  font-style: italic;
  font-weight: 300;
  color: #262627;
  padding-left: 190px;
  margin-top: 0;
}

p.project-description {
  font-family: PT serif;
  font-style: normal;
  font-weight:bold;
  font-size: 1.9rem;
  color:#002447;
  margin-top: 1px;
  margin-bottom: 1px;

}

p.quote {
  display:block;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  color: #262627;
  margin: 10px;
  padding-left: 190px;
  padding-top: 25px;
}

p.slogan {
  font-family: PT Serif;
  font-style: normal;
  font-weight:bold;
  font-size: 2.5rem;
  color:#002447;
  margin:0;
  padding-top: 0;
  padding-left: 190px;
  position:absolute;
}

img.phones {
  height: 35vh;
  align-items: center;
  padding: 25px;
}

/*grid style for hmpg, about and contact pages*/

.wrapper-1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 1fr );
  grid-template-rows: repeat(2, [row] auto );
  background-color: #ffffff;
}

.logo {
  grid-area: logo;
  grid-column: col 1 / span 2;
  grid-row: row;
  display: block;
  height:10vh;
  padding-top: 5px;
  padding-left: 10px;
 }

.topnav {
  grid-column: col 3 / span 2;
  grid-row: row;
 }

 .topnav a {
  float: right;
  display: block;
  color: #262627;
  font-family: Poppins;
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
 }

 .header-hmpg {
   background-image: url('../images/hmpgbkgrnd.png');
   background-position: center;
   background-repeat: no-repeat;
   grid-column: 1 / span 4;
   height: 50vh;
  }

  .copy-hmpg > h1 {
    grid-column: col 2;
    margin: 0;
    padding-left: 190px;
    padding-top: 100px;
    text-align: left;
  }

.box-1{
  background-color: #f2f2f2;
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, [col] 1fr );
  grid-template-rows: repeat(2, [row] auto );
}

.left-1 {
  grid-column: 2;
  grid-row: 1 / span 2;
  padding-top: 50px;
  padding-left: 40px;
  padding-right:50px;
}

.left-1 > h2 {
  margin-bottom: 3px;
}

.right-1 {
  background-color: #f2f2f2;
  grid-column: 3;
  grid-row: 1 / span 2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.button {
  background-color: #79C5E7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Poppins Medium;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px 5px;;
  position: relative;
  margin-top: 180px;
}

.footer-bkgrnd {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.3fr;
    grid-template-areas: ". . . ." "footer-main footer-main footer-main footer-main" ". . . .";
    grid-area: footer-bkgrnd;
  }

.footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: ". footer-nav ." ". footer-links .";
    grid-area: footer-main;
    background-color: #ffffff;
  }

.footer-nav {
  grid-area: footer-nav;
  color: #262627;
  font-family: Poppins;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 10px;

 }

.footer-links {
  grid-area: footer-links;
  list-style: none;
  padding-left: 10px;
}

@media (min-width: 768px)
 .wrapper-1 {
    grid-row: 1 / 4;
    grid-row-start: row 1;
    grid-row-end: row 3;
    background-color:; }

/*styling for core case study page*/

.wrapper-h1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, [col] 1fr );
  grid-template-rows: repeat(2, [row] auto );
  background-color: #ffffff;
}

.logo {
  grid-area: logo;
  grid-column: col 1 / span 2;
  grid-row: row;
  display: block;
  height:10vh;
  padding-top: 5px;
  padding-left: 10px;
 }

.topnav {
  grid-column: col 3 / span 2;
  grid-row: row;
 }

 .topnav a {
  float: right;
  display: block;
  color: #262627;
  font-family: Poppins;
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
 }

 .header-core {
   background-image: url('../images/corehmpg.png');
   background-position: center;
   background-repeat: no-repeat;
   display: grid;
   grid-column: 1 / span 4;
   height: 50vh;
  }

  .box-2 {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr );
    grid-template-rows: repeat(2, [row] auto );
  }

  .core-l1 {
      grid-column: 2;
      grid-row: 2;
      padding-top: 50px;
      padding-left: 40px;
      padding-right:50px;
  }

  .core-r1 {
    grid-column: 3;
    grid-row: 2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  .area-1 {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr );
    grid-template-rows: repeat(14, [row] auto );
  }

  .a {
    grid-column: 2 / span 2 ;
    grid-row: 1 ;
  }

  .b {
    grid-column: 2 / span 2 ;
    grid-row: 2 ;
}

  .c {
    grid-column: 2 / span 2;
    grid-row: 3 ;

  }

  .d {
    grid-column: 2 / span 2;
    grid-row:4 ;

  }

  .e {
    grid-column: 2 / span 2;
    grid-row:5 ;

    }

    .f {
    grid-column: 2 / span 2;
    grid-row: 6;

    }

    .g {
    grid-column: 2 / span 2;
    grid-row: 7;
  }

  .h{
    grid-column: 2 / span 2;
    grid-row: 8;
  }

  .i{
    grid-column: 2 / span 2 ;
    grid-row: 9;
  }

  .j{
    grid-column: 2 / span 2;
    grid-row: ;
  }
