* {
  box-sizing: border-box;
}

:root {
  --dark gray: #262627;
  --light gray: #616161;
  --blue: #002447;

}

html {
font-size: 20px;
}

body {
  background-color: #ffffff;
}

header {
  height: 75vh;
}

p{
  font-size: 1.6rem;
}

.header-home {
  margin: auto;
  padding-top: 20vh;
  width:auto;

}

.header-core {
  background-image: url('../images/Desktop.png');
  height:625px;
  width:auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-top: 10px;
  padding: 10px;
}
/*** Typography ***/
h1 {
  float: left;
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  font-size: 2.875rem;
  align-items: left;
  color:#262627;
  margin: auto;
  position: absolute;
  left: 16%;
}

h2 {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  font-size: 2.0rem;
  color: #262627;
}

h3 {
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 1.6rem;
color:#262627;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #262627;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: #BC672C;
}

.logo{
   position: absolute;
   height: 55px;
   left: 50px;
   top: 7px;
 }

.icons {
  height: 50px;
}

.slogan {
  font-family: PT Serif;
  font-style: normal;
  font-weight:normal;
  font-size: 1.9rem;
  color:#002447;
  margin-bottom: 0;
  padding-left: 190px;
  padding-top: 25px;
  margin-bottom: 0;
}

.quote {
  font-family: Poppins;
  font-style: normal;
  font-weight: lighter;
  color: #616161;
  margin: 0;
  padding-left: 190px;
  text-align: left;
}

.by {
  font-family: Poppins;
  font-style: normal;
  font-weight: lighter;
  font-size: 1rem;
  color:#616161;
  margin: 0;
  padding-left: 190px;
}

.about {
  position: absolute;
  font-family: Poppins Light;
  font-style: normal;
  font-weight: 300;
  font-size: 1.12rem;
  color:#616161;
}

.about-project {
  font-family: Poppins Light;
  font-style: normal;
  font-size: 1.3125rem;
  color:#616161;
  margin: auto;
}

.project-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2.0rem;
  margin:0;

}
.project-description {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size:1.6rem;
  color: #002447;
  margin: auto;
}

.button {
  background-color: #79C5E7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Poppins Medium;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 15px 15px 15px 15px;
  position: relative;
  margin-top: 180px;

}

 .grid-container-1 {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   grid-template-areas:
   "left right ";
   background-color:#f2f2f2;
   width: auto;
   height: 100vh;
 }

 .left-1 {
   align-self: center;
   grid-column-start: 1;
   grid-column-end: 1;
   position: relative;
   padding-left: 20px;
   margin-left: 15px;
   justify-content: center;
   align-items: center;
 }

.right-1 {
  align-self:center;
 grid-column-start: 2;
 grid-column-end: 2;
 justify-content: center;
 align-items: center;

}

img.phones {
  postion: absolute;
}

.footer {

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/**@media screen (min-width: 30rem) {
  nav {
    grid-template-columns: 1fr auto auto;
    justify-item: start;
  }
}

 @media screen and (max-width: 1024px) {
   header.mdl-layout__header {
     display: flex;
   }
 }**/
